body {
    font-size: 20px;
    color: black;
    text-align: left;
    font-family: 'Lucida Sans';
    background-color:#6930c3;
}
#encabezado {
    background-color:#56cfe1;
    padding: 5px 50px;

}
#logo {
    width: 60px;
    height: 60px;
    margin-right: 25px;

}
#encabezado h1{
    display: inline-block;
    
}

#redes_sociales{
    float: right;
}
.patines {
    display: inline-block;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    border-color: blue;
}
