    body {
        font-size: 20px;
        color: #645284;
        text-align: left;
        font-family: 'Arial Black';
        background-color:#645284;
        margin: 0%;

    }
    #encabezado {
        background-color:rgb(255, 255, 255);
        color: #645284;
        padding: 5px 50px;
        border-bottom-style: solid;
        border-bottom-color: #5f476f;
        border-bottom-width:4px;
        
    }

   
    
    div#encabezado a {
        text-decoration: none;
        margin-left: 50px;

    }

    @media screen and (max-width: 695px) {
        #encabezado {
          padding: 5px 5px;
        }
      }
      @media screen and (max-width: 635px) {
        #encabezado {
          text-align: center;
        }
        #redes_sociales {
          display: none;
        }
        #redes_sociales_extra {
          display: block;
        }
      }

    #logo {
        width: 60px;
        height: 60px;
        margin-right: 25px;

    }

    #encabezado h1 {
        display: inline-block;
        
        
    }

    div#redes_sociales a {
        margin-left: 25px;
    }

    #contenido {
        padding: 1em 57px;

    }


    h2 {
        text-align: center;
        font-size: 2rem;
        padding-top: 50px;
        color: #ffffff;

    }
    .slide {
        margin-top: 10px;
        padding: 16px;
    }
    .slide img {
        height: 100%;

    }


    div.patines {
        display: inline-block;
        width: 250px;
        border-style: solid;
        border-radius: 10px;
        margin: 10px;
        border-width: 5px;
        border-color: #5f476f;
        background-color: #ffffff;
    }

    div.patines#seleccionado, div.patines:hover {
        border-color: #ffffff;
        color: #000000;
        transition: 0.5ms;

    }


    div.patines img {
        width: 250px;
        height: 200px;
    }

    div.patines h3{
        text-align: center;
        padding: 0 15px;

    }

    #redes-sociales-extra {
        display: none;
      }
    #redes_sociales {
        float: right;
        padding-top: 15px;
      }
   
        
    .redes_sociales img, #redes_sociales_extra img {
        width: 40px;
        transition: 0.5s;
    }
    
    #redes_sociales img:hover, #redes_sociales_extra img:hover {
        filter: invert(100%);
        transition: 0.25s;
    }
    
    div#redes_sociales_extra a {
        text-decoration: none;
        margin-right: 10px;
        margin-left: 10px;
    }

    #footer{
        text-align: center;
        padding: 20px 10%;
        background-color:#ffffff;
        color: rgb(0, 0, 0);
        border-top-style: solid;
        border-top-color:#5f476f;
        border-top-width: 4px;
    }
    